body {
  font-family: var(--font-family-base);
  color: var(--text-color-base);
  font-size: var(--font-size-md);
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1240px;
  padding: 1rem 1rem;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 28px 0 18px 0;
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-hover);
  text-decoration: underline;
}
